@charset "UTF-08";

@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

:root {
    --cor1: #FF0000;
    --cor2: #FFD700;
    --cor3: #FFF8E7;
    --titulo: 'Allura', cursive, sans-serif, Verdana;
    --texto: Verdana, sans-serif;
}

* {
    margin: 0;
    overflow: hidden;
}

p {
    font-size: 1.2pc;
    font-family: var(--texto);
    margin-bottom: 10px;
}

h1 {
    font-family: var(--titulo);
    color: var(--cor2);
}

/* Responsivo */


@media (max-width: 950px) {
    body {
        overflow: scroll;
    }
    body .conteudo {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 12vh;
        left: unset;
        margin-top: 96%;
        background-color: unset;
        backdrop-filter: unset;
        color: white;

    }

    main .comida.selecionada {
        justify-content: center;
    }

    html .imagem {
        margin-top: -100%;
    }


    body .botao {
        width: 60%;
        height: 100px;
        min-width: 25%;
    }

    body .botoes {
        display: none;
    }

    body .menu {
        display: flex;
    }

}


/* */

.principal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    background-color: black;
}

.conteudo {
    position: absolute;
    top: 0;
    left: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    max-width: 380px;
    z-index: 1;
    backdrop-filter: blur(20px);
    padding: 20px;
}


.botao {
    width: 70%;
    height: 120px;
    border-radius: 50%;
    z-index: 5;
    margin: 10px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff8e700;
    border: 0px;
}

.botao img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 90%;
    border: 1px solid var(--cor1);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.444);
    transition: 0.5s;
}

.botao img:hover {
    border: 2px solid var(--cor2);
}

.botoes {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 180px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;
}


span {
    position: absolute;
    width: 20px;
    height: 50px;
    color: white;
    display: flex;
    z-index: 11111;
    cursor: pointer;
    margin: 20px;
}

.menu {
    position: absolute;
    width: 100vw;
    justify-content: right;
    height: 60px;
    display: none;
    align-items: center;
}

#botoesid {
    animation: burger 3.5s forwards,
    burgerclose 3.5s forwards;
}


@keyframes burger {
    from {
        right: -250px; 
    }
    to {
        right: 0; 
        margin-left: -21%; 
    }
}


/* Comidas */

.imagem {
    width: 100%;
    position: static;
}

main .comida {
    display: none;
}
main .comida.selecionada {
    align-items: center;
    display: flex;
}


.lasanha, .pizza {
    color: white;
}
