@charset "UTF-08";

@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

:root {
    --cor1: #FF0000;
    --cor2: #FFD700;
    --cor3: #FFF8E7;
    --titulo: 'Allura', cursive, sans-serif, Verdana;
    --texto: Verdana, sans-serif;
}

* {
    margin: 0;
    overflow: hidden;
}

p {
    font-size: 1.2pc;
    font-family: var(--texto);
    margin-bottom: 10px;
}

h1 {
    font-family: var(--titulo);
    color: var(--cor2);
}

.principal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

main::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(-256deg, rgb(0, 0, 0) 30%, rgba(0, 0, 0, 0.5) 45%); 
    z-index: 1; 
}

.conteudo {
    position: absolute;
    top: 0;
    left: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    max-width: 380px;
    z-index: 1;
}


.botao {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;
    z-index: 5;
    margin: 10px;
    z-index: 10;
}

.botoes {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 180px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;
}


/* Comidas */

.imagem {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main .comida {
    display: none;
}
main .comida.selecionada {
    display: block;
}


